body {
  background-image: url("./img/rock2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.postPic {
  max-height: 25vh;
}

/* .homebg {
  background-image: url("./img/AMBlackMediumTrans.jpg"), url("./img/rock2.jpg");
  background-position: center;
  background-size: auto, cover;
  background-attachment: fixed;
  background-repeat: no-repeat, repeat;
  min-height: 700px;
} */

.myFont {
  font-family: monospace;
}

.homebg {
  background-image: url("./img/rock2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  /* min-height: 700px; */
}

.homeHover {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.image {
  display: block;
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-image: url("./img/andrew.jpg");
  border-radius: 30px;
}

.text {
  color: black;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.homeHover:hover .overlay {
  opacity: 1;
}

.aboutLink {
  padding-right: 1vw;
  position: static;
}

.blogLink {
  /* padding-right: 5vw;  */
  position: static;
}

.projLink {
  padding-right: 7vw;
  position: static;
}

.contLink {
  /* padding-right: 5vw; */
  position: static;
}

.socialLogo {
  height: 20px;
  padding-left: 20px;
}

/* .nav-link {
    padding-left: 1.5vw !important;
    padding-right: auto !important;
} */

.contH {
  padding-top: 10px;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: 0.15em solid black; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
